@model ACADEMICO.Models.Docente

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="ModalEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Confirmar Borrado?</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @*<h4 class="modal-title" id="myModalLabel">Confirmación de Borrado</h4>*@
            </div>
            <div class="modal-body">
                <p>Desea borrar '@Model.NombreDocente'?</p>
                <p>
                    <strong>Esta Seguro de Continuar?</strong>
                </p>
            </div>

            <form asp-action="Delete">
            <input type="hidden" asp-for="DocenteID" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
            @*<div class="modal-footer">
                @if (Model.DocenteID > 0)
                {



                    <a href="~/Docentes/Delete/@Model.DocenteID" class="btn btn-danger">Si, Borrar el Equipo</a>}
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    No, Borrar el Equipo
                </button>

            </div>*@
        </div>
    </div>
</div>


@*<div>
    <h4>Docente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDocente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDocente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DocenteID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>*@
